.glyphicon-arrow-left{
	top:-2em;
	left: 26em;
	color: black;
}
.glyphicon-plus{
	left:5em;
}
.glyphicon-floppy-disk{
	left: 7em;
}
.glyphicon-remove{
	left:9em;
}
.editHeadline{
	text-align: left;
	margin-left: 17em;
}