<div classs='col-md-6 col-md-offset-3'>
	<div class="page-header">
    	<h3 class='editHeadline'>Editar</h3>
    	<a href="#/products">
    		<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    	</a>
  			
	
   	</div>
	<div class="col-md-6 col-md-offset-3 panel panel-default">
  		<div class="panel-body">
  			<a href="#/new">
    			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    		</a>
    		<a href="#/remove/:id">
    			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    		</a>
			<form class='col-md-8' ng-submit="product.save()">
				<div class='form-group'>
					<!--id -->
					<label for="exampleInputName2">Id</label>
					<input type="text" class="form-control" name="" ng-model="product.product.id">
				</div>
				<div>
					<!--name-->
					<label for="exampleInputName2">Nombre</label>
					<input type="text" class="form-control" name="" ng-model="product.product.name">
				</div>
				<div>
					<!--descr -->
					<label for="exampleInputName2">Descripción</label>
					<input type="text" class="form-control" name="" ng-model="product.product.description">
				</div>
				<div>
					<!--price -->
					<label for="exampleInputName2">Precio</label>
					<input type="text" class="form-control" name="" ng-model="product.product.price">	
				</div>
				<div>
					<!--quanti -->
					<label for="exampleInputName2">Cantidad</label>
					<input type="text" class="form-control" name="" ng-model="product.product.quantity">
				</div>
				<br>
				 <input type="submit" name="" value="guardar">
				
			</form>	
  		</div>
	</div>
</div>
